# Put your environment configurations here
SERVICE_PROFILE=development
SERVICE_PORT=8089
SERVICE_NAME=rhinpsservice-service

KUBERNETES_DISCOVERY_ENABLED=false

LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_SPRING_WEB=DEBUG
LOGGING_LEVEL_APP=DEBUG

HIBERNATE_DDL=none
ENABLE_HIBERNATE_SQL=false
ENABLE_HIBERNATE_FORMAT_SQL=false
DB_SCHEMA=public

ORACLE_HOST=localhost
ORACLE_PORT=1522
ORACLE_SERVICE_NAME=XEPDB1
ORACLE_USER=system
ORACLE_PASSWORD=password

AUTH_JWT_ISSUER=http://localhost:8090/realms/quickstart

ENABLE_SWAGGER=true

EUREKA_CLIENT_ENABLED=false
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://igrp-eureka:8761/eureka/
EUREKA_CLIENT_REGISTERWITHEUREKA=false
EUREKA_CLIENT_FETCHREGISTRY=false

SPRING_CLOUD_DISCOVERY_ENABLED=false
SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_ENABLED=false
SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_LOWER_CASE_SERVICE_ID=false

PROCESSAMENTO_SALARIAL_BASE_URL=https://3sb.inps.cv/sips_rh_api/v1.0.0

STORAGE_ENDPOINT=62.84.179.137
STORAGE_PORT=9000
STORAGE_SECURITY=false
STORAGE_ACCESS_KEY=6nNP4UY0mbKF1kVo7PPp
STORAGE_SECRET_KEY=n5jwaLmlUxXMOp6pKu6zOF7A57QD2QVwIU4siLFc
STORAGE_BUCKET_NAME=inps-docs
STORAGE_REGION=praia
STORAGE_PRESIGNED_URL_EXPIRATION_TIME=36000
